.groupIcon {
  position: absolute;
  height: 99.83%;
  width: 110.78%;
  top: -2%;
  right: -4.43%;
  bottom: 2.18%;
  left: -6.35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  opacity: 0.15;
}
.coyslm4uiaaecsh1Icon,
.sofinf2605202231Icon {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.coyslm4uiaaecsh1Icon {
  width: 1440px;
  height: 1024px;
  display: none;
}
.sofinf2605202231Icon {
  width: 1920px;
  height: 526px;
}
.kemerleriBalaynGoogle {
  position: absolute;
  top: 610px;
  left: 183px;
  font-weight: 600;
}
.bunuPayla,
.googleAramaSonular,
.lgiliDierYazlar {
  position: absolute;
  top: 1284px;
  left: 183px;
  font-weight: 600;
}
.bunuPayla,
.lgiliDierYazlar {
  top: 2182px;
}
.bunuPayla {
  top: 2122px;
  left: 1326px;
}
.basndaChild,
.basndaItem {
  position: absolute;
  top: 659px;
  left: 0;
  background-color: var(--color-dimgray-100);
  width: 833px;
  height: 2px;
}
.basndaItem {
  top: 2159px;
  background-color: var(--lacivert);
  width: 1458px;
}
.basndaInner {
  position: absolute;
  top: 720px;
  left: 185px;
  border-radius: var(--br-mini);
  width: 642px;
  height: 493px;
  object-fit: cover;
}
.au {
  position: absolute;
  top: 610px;
  left: 1660px;
  font-weight: 600;
  display: inline-block;
  width: 112px;
}
.vectorIcon,
.vectorIcon1 {
  position: absolute;
  height: 1.13%;
  width: 1.71%;
  top: 73.5%;
  right: 19.96%;
  bottom: 25.37%;
  left: 78.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon1 {
  right: 17.38%;
  left: 80.92%;
}
.aslndaBuYakn,
.austos2021Sal,
.buTaraftaOlacaklar,
.dannySullivanSearch,
.googleAramaMotoru,
.googleAramaMotoru1,
.ieriklerdenKaanAnlaml,
.kemerleriBalaynGoogledan,
.nsanlarnHangiArama,
.sadeceAramaSonularna,
.seoVeBalk,
.sitelerinTepetaklakOlma,
.webSayfasBalklarn,
.webSitelerindeBu {
  margin: 0;
}
.dannySullivanSearchContainer {
  position: absolute;
  top: 720px;
  left: 873px;
  font-size: var(--font-size-base);
  line-height: 158.4%;
  font-weight: 500;
  color: var(--color-gray-100);
  display: inline-block;
  width: 862px;
}
.geenHaftaWeb {
  margin: 0;
}
.onYlAkn {
  text-decoration: underline;
}
.onYlAknBirSredir {
  color: inherit;
}
.balkOluturmak1 {
  text-decoration: underline;
}
.balkOluturmak {
  color: inherit;
}
.htmlMetnininTesine1 {
  text-decoration: underline;
}
.htmlMetnininTesine {
  color: inherit;
}
.ayrcaOnYlAknBirSre,
.nedenHtmlBalk,
.sayfadaYerAlan {
  margin: 0;
}
.akladmz1 {
  text-decoration: underline;
}
.akladmz {
  color: inherit;
}
.nedenHerZamanHtmlBalkEt {
  margin: 0;
}
.anahtarKelimelerleDoldurulm,
.balkEtiketlerininTamamenO,
.okUzun {
  margin-bottom: 0;
}
.okUzunAnahtarKelimelerle {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-2xl);
}
.genelOlarakGncellememiz,
.googleAramaSonular1,
.yiHtmlBalk {
  margin: 0;
}
.balklarlaIlgili1 {
  text-decoration: underline;
}
.balklarlaIlgili {
  color: inherit;
}
.balklarlaIlgiliUzunSredi,
.googleAramaSonularnda,
.herhangiBirSistemde,
.yazanDannySullivan,
.yllarIerisindeArama,
.yorumBuAklamalar {
  margin: 0;
}
.geenHaftaWebContainer {
  position: absolute;
  top: 1331px;
  left: 185px;
  font-size: var(--font-size-base);
  line-height: 158.4%;
  font-weight: 500;
  color: var(--color-gray-100);
  display: inline-block;
  width: 1550px;
}
.groupIcon1,
.vectorIcon2,
.vectorIcon3 {
  position: absolute;
  height: 1.13%;
  width: 1.71%;
  top: 73.5%;
  right: 9.65%;
  bottom: 25.37%;
  left: 88.65%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon2,
.vectorIcon3 {
  right: 12.25%;
  left: 86.04%;
}
.vectorIcon3 {
  right: 14.8%;
  left: 83.49%;
}
.rectangleDiv {
  left: 185px;
  background-color: var(--beyaz);
  width: 373px;
}
.basndaChild1,
.basndaChild2,
.rectangleDiv {
  position: absolute;
  top: 2227px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mini);
  border: 1px solid var(--color-mediumslateblue-100);
  box-sizing: border-box;
  height: 217px;
}
.basndaChild1 {
  left: 577px;
  background-color: var(--beyaz);
  width: 375px;
}
.basndaChild2 {
  left: 969px;
  width: 374px;
}
.basnda,
.basndaChild2,
.basndaChild3 {
  background-color: var(--beyaz);
}
.basndaChild3 {
  position: absolute;
  top: 2227px;
  left: 1362px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mini);
  border: 1px solid var(--color-mediumslateblue-100);
  box-sizing: border-box;
  width: 373px;
  height: 217px;
}
.basnda {
  width: 100%;
  position: relative;
  height: 2894px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--lacivert);
  font-family: var(--font-montserrat);
}
